* {
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  line-height: normal;
}
html, body {
  font-family: 'Lato';
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  color: #222222;
  text-align: left;
  background-color: #fff;
  /* background: url("../images/background70.png") repeat; */
}

.row {
  margin: 0;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.flex_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex_block_center {
  display: -webkit-box;
  display: -ms-flexbox;
display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
justify-content: center;
}
.flex_block_col {
  display: -webkit-box;
  display: -ms-flexbox;
   display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
    flex-direction: column;
}
.wrap {
  width: 100%;
}

.header {
  border-bottom: 1px #ececec solid;
}
.wrap-logo-search, .wrap-basket-account {
  padding: 24px 0;
}
.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
    display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
    justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
    align-items: center;

  text-decoration: none;
  font-family: 'Lato';
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.68px;
}
.logo img {
  margin-right: 12px;
}
.logo span {
  color: #f16d7f;
  letter-spacing: 0.68px;
  font-weight: bold;
}

.search_wrap {
  width: 400px;
  margin: 0 25px 0 40px;

  display: -webkit-box;
  display: -ms-flexbox;
   display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
    justify-content: flex-start;
}
.browse_wrap {
  position: relative;
}
.browse_wrap:hover .drop_down, .browse_wrap:hover .arrow {
  display: block;
}
button[name="browse"] {
  width: 85px;
  height: 38px;
  background-color: #f7f7f7;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0.38px;
  border: 1px solid #e6e6e6;
  border-right: none;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
}
button[name="browse"]::after {
  content: "\f0d7";
  font-family: FontAwesome;
  color: #838383;
  font-size: 14px;
  padding-left: 8px;
}
button[name="browse"]:focus {
  outline: none;
}

form[id="search"] {
  position: relative;
  display: inline-block;
  width: 315px;
  margin: 0;
  box-sizing: border-box;
}
input[name="search"] {
  width: 100%;
  height: 38px;
  padding: 0 43px 0 15px;
  border: 1px solid #e6e6e6;
  border-radius: 0 2px 2px 0;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
}
input[name="search"]:focus {
  outline: none;
}
button[name="search"] {
  position: absolute;
  top: 0;
  right: 0px;
  width: 38px;
  height: 38px;
  border-left: 1px #e6e6e6 solid;
  background: none;
  cursor: pointer;
}
button[name="search"]:focus {
  outline: none;
}
button[name="search"]:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #a4a4a4;
}

.cart_wrap:hover .cart, .cart_wrap:hover .arrow {
  display: block;
}
.cart_wrap {
  position: relative;
}
.cart {
  display: none;
  position: absolute;
  left: -38px;
  width: 260px;
  padding: 10px 15px;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background: #fff;
  z-index: 10;
}
.cart_product {
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
}
.cart_product img {
  width: 40%;
  padding-right: 10px;
}
.cart_product h3 {
  width: 40%;
  font-size: 12px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
}
.cart_product span::before {
  content: "\f005\f005\f005\f005\f123";
  font-family: FontAwesome;
  font-size: 14px;
  color: #e4af48;
  text-transform: uppercase;
}
.cart_product span {
  font-size: 12px;
  font-weight: 400;
  color: #f16d7f;
  text-transform: uppercase;
}
.cart_product p::before {
  content: "\f057";
  width: 20%;
  font-family: FontAwesome;
  font-size: 16px;
  color: #c0c0c0;
}
.cart_product p:hover::before {
  color: #f16d7f;
}
.cart_total {
  margin: 20px 0;
  font-size: 16px;
  font-weight: 600;
  color: #222222;
  text-transform: uppercase;
}
.cart_button ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
.cart_button li {
  list-style: none;
  width: 100%;
  margin: 10px 0;
  padding: 0;
}
.cart_button a {
  display: block;
  padding: 16px 0;
  text-decoration: none;
  border: 1px solid #eaeaea;
  font-size: 14px;
  font-weight: 600;
  color: #4a4a4a;
  line-height: normal;
  text-transform: uppercase;
}
.cart_button a:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
button[name="basket"] {
  width: 38px;
  height: 49px;
  background: url("../images/cart.png") no-repeat 50%;
  cursor: pointer;
  padding: 0;
  margin: 0 25px;
}
button[name="basket"]:focus {
  outline: none;
}

button[name="account"] {
  width: 133px;
  height: 38px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.38px;
  border: none;
  cursor: pointer;
}
button[name="account"]::after {
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 15px;
  padding-left: 10px;
}
button[name="account"]:focus {
  outline: none;
}

/* ===================== nav блок навигация. верхнее меню ============= */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  padding: 0 11px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
}
nav a {
  display: block;
  text-decoration: none;
  color: #222222;
  padding: 16px 12px;
  border-bottom: 3px solid transparent;
}
nav a:hover {
  color: #838383;
  border-bottom: 3px #ef5b70 solid;
}
.active_link {
  border-bottom: 3px #ef5b70 solid;
}


li:hover .mega_menu, li:hover .arrow {
  display: block;
}

.mega_menu, .drop_down {
  display: none;
  position: absolute;
  padding: 20px 0 0;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  background: #fff;
  z-index: 10;
}
.aling_flex_start {
  -webkit-box-align: start;
  -ms-flex-align: start;
    align-items: flex-start;
}
.arrow {
  display: none;
  transform: translateX(-50%);
  position: absolute;
  width: 0;
  height: 0;
  top: -7px;
  left: 50%;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #e9e9e9;
  z-index: 20;
}
.browse_wrap .arrow {
  left: 82%;
}
.arrow_bg {
  position: absolute;
  width: 0;
  height: 0;
  top: 2px;
  left: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  z-index: 20;
}
.mega_menu_col {
  width: 230px;
  padding: 0 25px;
}
.drop_down_col {
  width: 230px;
  padding: 0 12px;
}
.mega_menu ul, .drop_down ul {
  margin-bottom: 20px;
}
.mega_menu h3, .mega_menu a,
.drop_down h3, .drop_down a {
  font-size: 14px;
  font-weight: 400;
  color: #232323;
  line-height: normal;
}
.mega_menu h3, .drop_down h3 {
  text-transform: uppercase;
  margin: 0 0 14px;
  padding: 0 0 7px;
  border-bottom: 1px solid #e9e9e9;
}
.mega_menu li, .drop_down li {
  padding: 0;
  margin-bottom: 12px;
}
.mega_menu a, .drop_down a {
  display: inline;
  text-transform: none;
  color: #646464;
  padding: 4px 2px;
}
.super_sale {
  position: relative;
}
.super_sale a {
  display: block;
  color: white;
}
.super_sale a:hover {
  border: none;
  color: #ef5b70;
}
.super_sale h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 10px;
  font-size: 22px;
  font-weight: 900;
}
.super_sale img {
  width: 100%;
}

/* ===================== slider блок слайдер ============= */

.slider {
  margin: 0 auto 100px;
}
.bg-slid1 {
background: #e8e8e8;
}
.slider-height {
  background: url("../images/slider.png");
  background-size: cover;
  width: 100%;
  margin: 0 auto;
  height: 613px;
  display: flex;
  align-items: center;
}
.slogan {
  border-left: 12px #f16d7f solid;
  padding-left: 12px;
}
.slogan h2, .slogan h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #222222;
  font-weight: 900;
}
.slogan h2 {
  font-size: 60px;
  line-height: 45px;
  margin-bottom: 18px;
}
.slogan h3 {
  font-size: 40px;
  line-height: 30px;
}


/* ===================== breadcrumb блок хлебные крошки ============= */

.my_breadcrumb {
  width: 100%;
  margin-bottom: 60px;
  background: #f8f3f4;
}
.my_breadcrumb h2 {
  margin: 0;
  padding: 60px 0;
  line-height: normal;
  font-size: 1.7142857143rem;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}
.breadcrumb {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 10px 0;
  background: #f8f3f4;
}
.breadcrumb li {
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
  color: #636363;
}
.breadcrumb-item::before, .breadcrumb-item .active::before {
  padding: 0 .21rem;
}
.breadcrumb .active {
  font-weight: normal;
  color: #f16d7f;
}
.breadcrumb a {
  display: inline;
  border: none;
  padding: 0;
}

/* ===================== category_nav блок меню сайт-бар ============= */

.menu_hamburger {
  width: 100%;
  margin-top: 20px;
  padding: 13px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #6f6e6e;
  text-align: left;
  text-transform: uppercase;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  background: none;
}
.menu_hamburger::after {
  content: "\f0d7";
  font-family: 'FontAwesome';
  padding: 0 7px;
  float: right;
}
.menu_hamburger:focus {
  color: #ef5b70;
  outline: none;
}
.menu_hamburger:focus::after {
  content: "\f0d8";
}
.menu_hamburger:focus {
  color: #ef5b70;
  outline: none;
}
.menu_activ .menu_list {
  display: block;
}
.menu_list {
  display: none;
  margin: 0;
  padding: 0;
}
.menu_element {
  padding: 0 8px 0 16px;
  font-weight: normal;
  text-transform: none;
}
.menu_link {
  padding: 20px 2px 0;
  color: #6f6e6e;
  border-bottom: 1px solid transparent;
}
.menu_link:hover {
  border-bottom: 1px solid #ef5b70;
}

/* ===================== top_filter блок верхний фильтр категорий ============= */

.top_filter {
  margin: 0;
}
.top_filter .trending_now,
.top_filter .size,
.top_filter .price {
  padding: 0 15px 0 0;
}
.top_filter div:last-child {
  padding: 0
}
.top_filter h3 {
  margin: 25px 0;
  padding: 0;
  color: #6f6e6e;
  text-transform: uppercase;
}
.top_filter .trending_now a {
  display: inline-block;
  margin: 0 12px 12px 0;
  padding-right: 12px;
  color: #6f6e6e;
  border-right: 1px solid #dfdfdf;
}
.top_filter .trending_now a:hover{
  color: #ef5b70;
}
.top_filter .size input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.top_filter .size input[type="checkbox"]+label {
  display: inline-block;
  user-select: none;
  cursor: pointer;
}
.top_filter .size input[type="checkbox"]+label::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 8px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #dfdfdf;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 50%;
}
.top_filter .size input[type="checkbox"]:checked+label::before {
  content: "\f00c";
  font-family: 'FontAwesome';
  font-size: 0.75rem;
  text-align: center;
  vertical-align: text-top;
  color: #fff;
  background-color: #f16d7f;
}
.top_filter .size input[type="checkbox"]:not(:disabled):not(:checked)+label:hover::before {
  background: rgba(241, 109, 127, 0.2);
}
.top_filter .size input[type="checkbox"]:focus+label::before {
  box-shadow: 0 0 0 2px rgba(223, 223, 223, 1);
}
.top_filter .size label {
  width: 60px;
  margin-bottom: 12px;
  color: #6f6e6e;
}

/*Стили ползунка. Оформление кроссбраузерных элементов input с типом range*/
.top_filter .price {
  display: block;
}
.top_filter .price_range {
  display: flex;
}
.top_filter .price input[type=range] {
  -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  margin: 14px 0;
  padding: 0;
  width: 100%; /* Указание параметра ширины требуется для Firef*/
}
.top_filter .price input[type=range]:focus {
  outline: none; /* Убирает голубую границу у элемента. Хотя, возможно, и стоит создавать некоторое оформления для состояния фокуса в целях обеспечения доступности. */
}
/* Специальные правила для браузеров на движках WebKit/Blink */
.top_filter .price input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #f16d7f;
}
.top_filter .price input[type=range]:first-of-type::-webkit-slider-runnable-track {
  border-radius: 3px 0 0 3px;
}
.top_filter .price input[type=range]:last-of-type::-webkit-slider-runnable-track {
  border-radius: 0 3px 3px 0;
}
.top_filter .price input[type=range]::-webkit-slider-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f16d7f;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
/* Тоже самое для Firefox */
.top_filter .price input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #f16d7f;
}
.top_filter .price input[type=range]:first-of-type::-moz-range-track {
  border-radius: 3px 0 0 3px;
}
.top_filter .price input[type=range]:last-of-type::-moz-range-track {
  border-radius: 0 3px 3px 0;
}
.top_filter .price input[type=range]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #f16d7f;
  cursor: pointer;
  border: none;
}
/* Тоже самое для IE */
.top_filter .price input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent; /* Скрывает слайдер, чтобы можно было добавить собственные стили. */
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.top_filter .price input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.top_filter .price input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
.top_filter .price input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
.top_filter .price input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
.top_filter .price input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
.top_filter .price_value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #6f6e6e;
}


.sort_line {
  align-items: center;
  margin: 30px 0 40px 0;
  padding: 10px 0;
  background: #f3f3f3;
}
.sort_line p {
  margin: 0 0 0 10px;
  padding: 0 0 0 10px;
  border: 1px solid #dfdfdf;
  background: #fff;
}
.sort_line select {
  padding: 6px 15px 6px 10px;
  border-left: 1px solid #dfdfdf;
}
.sort_line select:focus {
  outline: none;
}


/* ===================== category блок категорий ============= */

.category {
  line-height: 0;
  margin-bottom: 100px;
}
.baner-left, .baner-right {
  width: 49.1%;
}
.baner-left{
  margin-right: 1.8%;
}
.baner-left div, .baner-right div {
  margin-bottom: 20px;
  position: relative;
}
.baner-left div:last-child, .baner-right div:last-child {
  margin-bottom: 0;
}
div .badge {
  margin-bottom: 0;
  background: #fff;
  display: inline-block;
  text-transform: uppercase;
  padding: 2px 20px;
  position: absolute;
  top: 26px;
}
.badge h2:first-child {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  padding: 7px 0;
}
.badge h2 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;

}
.baner-left a, .baner-right a {
  display: block;
}
.category img {
  width: 100%;
}

/* ===================== product блок продуктов ============= */

.product_home, .product_page {
  margin-bottom: 100px;
}
.product_header {
  text-align: center;
  margin-bottom: 60px;
}
.product_header h2 {
  font-size: 30px;
  font-weight: 600;
  color: #222222;
  margin: 15px 0;
  line-height: 22px;
}
.product_header p {
  font-size: 14px;
  font-weight: 400;
  color: #9f9f9f;
  margin: 15px 0
}

.product_item {
  width: 100%;
  margin-bottom: 30px;
}
.item {
  position: relative;
  width: 23%;
  padding-bottom: 4px;
  margin-bottom: 30px;
}
.product_page .item {
  width: calc(92.7272727273%/3);
}
.item:hover {
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.16);
}
.item:hover .add_to_cart {
  display: inline;
}
.add_to_cart {
  display: none;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
  width: 127px;
  z-index: 10;
}
button[name="add_to_cart"],
button[name="retweet"],
button[name="heart"] {
  height: 40px;
  margin-bottom: 7px;
  border: 1px #fff solid;
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  background: none;
  cursor: pointer;
}
button[name="add_to_cart"] {
  width: 100%;
  padding-left: 45px;
  background: url(../images/cart_add.png) no-repeat 10% 50%;
}
button[name="add_to_cart"]:focus {
  outline: none
}
button[name="retweet"],
button[name="heart"] {
  width: 47%;
  font-size: 1.5rem;
}
button[name="retweet"]::before {
  content: "\f079";
  font-family: 'FontAwesome';
}
button[name="heart"]::before {
  content: "\f08a";
  font-family: 'FontAwesome';
}
.item a {
  display: block;
  text-decoration: none;
  outline: none;
  line-height: 0;
  cursor: zoom-in;
}
/*-------затемнение картинки. очень гениальное для моего уровня.
*--------круто прокачался пока изобретал сие чудо. рука не поднялась удалить.
*--------но IT-прогресс не стоит на месте...
*--------встречаем, img filter. // незнаю уж насколько это кроссбраузерно
/* .wrap_item_img {
  position: relative;
}
.item:hover .wrap_item_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background: url(../images/stripe_black.png); */
  /*background: rgba(58, 56, 56, 0.83);
} */

.item img {
  width: 100%;
}
.item:hover img {
  -webkit-filter: brightness(60%);
}
.item p {
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  padding: 20px 15px;
  margin: 0;
}
.item p:last-child {
  font-size: 16px;
  font-weight: 600;
  color: #f16d7f;
  padding-top: 0;
}
.product_button {

}
button[name="all_product"] {
  display: block;
  margin: 0 auto;
  padding: 15px;
  background-color: #f16d7f;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.38px;
  border: none;
  cursor: pointer;
}
button[name="all_product"]::after {
  content: "\f178";
  font-family: FontAwesome;
  font-size: 15px;
  padding-left: 10px;
}
button[name="all_product"]:focus {
  outline: none;
}

/* ===================== pagination блок постраничной навигации ============= */

.page_product, .button_view_all {
  padding: 15px;
  font-size: 1.14rem;
  border-radius: 2px;
}
.page_product {
  border: 1px solid #ebebeb;
}
.page_product button {
  background: none;
}
.page_product button[name="prev"]::before {
  content: "\f053";
  font-family: 'FontAwesome';
  color: #aaaaaa;
}
.page_product button[name="next"]::before {
  content: "\f054";
  font-family: 'FontAwesome';
  color: #ef5b70;
}
.page_product a {
  padding: 0 10px;
  color: #c4c4c4;
}
.page_product a:hover {
  color: #aaaaaa;
}
.page_product a:first-of-type {
  color: #ef5b70;
}
.button_view_all {
  padding: 15px 30px;
  border: 1px solid #ef5b70;
}
.button_view_all a {
  color: #ef5b70;
}


/* ===================== feature блок особенность ============= */


.feature {
  width: 100%;
  margin-bottom: 100px;
}
.feature_page {
  background: #222222;
}
.feature_wrap {
  background: #222222;
  height: 100%;
}
.feature .baner {
  position: relative;
  width: 67%;
}
.feature .baner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:radial-gradient(circle at 75% 45%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0.25)35%,
    rgba(0, 0, 0, 0.40)50%,
    rgba(0, 0, 0, 0.53)100%);
  background-repeat: no-repeat;
  }
.feature .baner img {
  width: 100%;
  height: 100%;
}
.feature .baner h2 {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: 10;
  font-size: 54px;
  font-weight: 600;
  color: #fff;
  line-height: 36px;
}
.feature .baner h2 span:first-child {
  color: #f16d7f;
}
.feature .baner h2 span:last-child {
  font-size: 32px;
}

.feature_boxes {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  width: 33%;
  height: 100%;
  padding: 0 35px;
}
.feature_box {
  padding-left: 75px;
}
.feature_box_page {
  display: block;
  width: 29%;
  padding: 140px 0 110px;
  text-align: center;
}
.feature_page .feature_delivery,
.feature_page .feature_sales,
.feature_page .feature_quality {
  background-position: 50% 30%;
}

.feature_delivery {
  background: url(../images/feature_delivery.png) no-repeat 0 10%;
}
.feature_sales {
  background: url(../images/feature_sales.png) no-repeat 0 10%;
}
.feature_quality {
  background: url(../images/feature_quality.png) no-repeat 0 10%;
}
.feature_box h3,
.feature_box_page h3 {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin: 15px 0;
}
.feature_box p,
.feature_box_page p {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  line-height: 20px;
  margin: 0;
}

/* ===================== subscribe блок подписатся ============= */


.subscribe {
  background: url(../images/subscribe.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  /* max-width: 1600px; */
  height: 438px;
  margin: 0 auto 100px auto;
}
.subscribe_wrap {
  background: rgba(242, 242, 242, 0.5);
}
.subscribe_left, .subscribe_right {
  width: 50%;
  height: 438px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscribe_face {
  position: absolute;
  overflow: hidden;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}
.subscribe_face img {
  width: 100%;
}
.subscribe_coment {
  margin:0 30px 0 110px;
}
.subscribe_coment p {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  color: #222222;
  line-height: 26px;
}
.subscribe_coment p:last-of-type {
  font-style: normal;
  color: #f16d7f;
  line-height: 13px;
}
.subscribe_coment span {
  font-size: 12px;
  color: #222222;
}
.subscribe nav a {
  display: inline;
  margin-right: 12px;
  padding: 5px 20px;
  border-bottom: 4px #d6d6d6 solid;
}
.subscribe nav a:hover {
  border-bottom: 4px #f16d7f solid;
}
.subscribe nav .current {
  border-bottom: 4px #f16d7f solid;
}

.subscribe_right {
  text-align: center;
  border-left: 1px #e3e3e3 solid;
}
.subscribe_right h2 {
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}
.subscribe_right span {
  font-size: 14px;
}
.subscribe_form {
  position: relative;
  display: inline-block;
  width: 390px;
  font-size: 14px;
  font-weight: normal;
}
.subscribe_form input {
  width: 100%;
  height: 48px;
  border-radius: 24px;
  padding: 0 110px 0 25px;
  background: #e1e1e1;
  color: #222222;
}
.subscribe_form button {
  position: absolute;
  right: 0;
  width: 100px;
  height: 48px;
  border-radius: 0 24px 24px 0;
  background: #f16d7f;
  color: #fff;
  cursor: pointer;
}
.subscribe_form input:focus, .subscribe_form button:focus {
  outline: none;
}




.footer_logo_info {
  width: 40%;
  padding-right: 30px;
}
.footer_logo_info p {
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  line-height: 24px;
}
.footer_nav {
  width: 20%;
  padding-left: 30px;
}
.footer_nav h3 {
  font-size: 18px;
  font-weight: 600;
  color: #f16d7f;
  margin: 0 0 28px;
  text-transform: uppercase;
}
.footer_nav li {
  padding: 10px 2px;
}
.footer_nav a {
  display: inline;
  padding: 7px 2px;
  font-size: 16px;
  font-weight: 400;
  color: #898989;
  line-height: normal;
  text-transform: none;
}


.copyright {
  margin-top: 100px;
  background: #e6e6e6;
}
.copyright p {
  margin: 31px 0;
  font-size: 16px;
  font-weight: normal;
  color: #7a7a7a;
}
.social_icon {
display: inline-flex;
flex-flow: row wrap;
}
.social_icon a {
  display: block;
  width: 34px;
  height: 34px;
  margin-left: 8px;
  padding: 9px 6px;
  font-family: FontAwesome;
  font-size: 16px;
  color: #b2b2b2;
  background: #fff;
  text-align: center;
  text-decoration: none;
}
.social_icon a:hover{
  background: #f16d7f;
}
.facebook::before {
  content: "\f09a";
}
.twitter::before {
  content: "\f099";
}
.linkedin::before {
  content: "\f0e1";
}
.pinterest::before {
  content: "\f0d2";
}
.google_plus::before {
  content: "\f0d5";
}










/* . */
